/* body {
    background-image: url("../images/CHS_Field_BG.jpg")
} */

.navSpace {
    width: 77%;
}

/* .collapse {
    position: fixed;
    right: 0;
} */
/* will position all the way to the right of the box*/
